body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nav-items > ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 30px;
}

.nav-items > ul > a {
  margin: 10px;
}

.nav-items > ul > li > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.res-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.res-card {
  margin: 10px;
  background-color: white;
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  line-height: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.shimmer-card {
  background-color: lightgray;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
}
/* .res-card h4, h2{
  margin-left: 10px;
  margin-bottom: 10px;
} */

.res-card .rest-image {
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.res-card .rest-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 10px;
  text-decoration: none !important;
  font-size: 1rem;
}

.res-card .rest-details .res-name-items {
  width: 70%;
  text-wrap: wrap;
  text-decoration: none;
}

body .res-container .res-card .rest-details .res-name-items h3,
h4 {
  text-decoration: none !important;
  color: black;
}

.res-card .rest-details .res-ratings-time {
  width: 20%;
  /* background-color: rebeccapurple; */
}

.search {
  margin: 20px;
  padding-left: 4rem;
}

.footer {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  /* margin: 10px; */
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.restaurant-menu {
  background-color: brown;
  color: white;
}

.res-info {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  border-radius: 1rem;
  margin: auto;
  padding: auto;
  margin-right: 1rem;
  color: black;
}

.res-det {
  display: flex;
  justify-content: space-around;
  color: #1e1e1e;
  height: 3vh;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
  padding: 0.5rem;
}

.rest-intro p {
  margin: 0;
  padding: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  /* background-color: aiceblue; */
}
.restaurant-menu-top {
  display: flex;
  justify-content: space-around;
}

.restaurant-menu-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.restaurant-menu-bottom .menu-list {
  width: 18%;
  text-align: left;
}

.restaurant-menu .rest-image {
  height: 18rem;
  width: 25rem;
  margin: 2rem;
  border-radius: 1rem;
}

.menu-list {
  margin: 0.5rem;
}

.bottom-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-middle .get-me-btn {
  height: 3rem;
  width: 7rem;
  border-radius: 0.5rem;
  font-size: large;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.top-restaurants-bar {
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.login-left {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  background-color: wheat;
}

.login-right {
  margin: 0;
  flex: 1;
  height: 100vh;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  height: 60%;
  width: 70%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px saddlebrown;
  border: 1px solid white;
}

.login-form h1 {
  color: black;
}

.login-form label {
  font-size: 1.3rem;
}

.login-form input {
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid saddlebrown;
  border-radius: 0.5rem;
  width: 15rem;
  height: 2.5rem;
}

.login-form button {
  margin-left: 38%;
  height: 2.5rem;
  width: 6rem;
  background-color: saddlebrown;
  color: white;
  border-radius: 5px;
  border: 1px white;
  cursor: pointer;
}
.login-img {
  height: 100vh;
  width: 100%;
}

.cart-btn {
  height: 2rem;
  width: 4rem;
  border-radius: 10px;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1e1e1e;
}

.home-food-container {
  margin: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.home-food-img {
  height: 18rem;
  width: 23rem;
  border-radius: 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.search-box input {
  width: 30rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: white;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

.searched-res {
  display: flex;
  justify-content: space-around;
  margin-bottom: -3rem;
  color: aliceblue;
  background-color: wheat;
}

.searched-res-det {
  align-items: center;
  background-color: rgb(190, 55, 55);
  text-align: left;
  margin: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  height: 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: bolder;
}

.searched-res-name {
  width: 60%;
}

.searched-res-ratings {
  font-size: large;
  font-weight: bold;
}

.searched-res-direction-btn {
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
  text-align: center;
}

.pagination {
  background-color: wheat;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-btn {
  font-size: small;
  font-weight: bold;
  border: none;
  /* border: 1px solid lightcoral; */
  border-radius: 1rem;
  height: 3rem;
  width: 5rem;
  margin: 1rem;
  cursor: pointer;
}
